[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"pytest" = ">=2.8.0"
"pytest-cov" = "*"
"isort" = "*"
"flake8" = "*"
"tox" = "*"

[packages]

"e1839a8" = {path = ".", editable = true}
